<a href="https://colab.research.google.com/github/buchsa/testrepo/blob/main/BuniWeek1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part A - Data Structures

In [ ]:
#1 Create a List of numbers 1-10
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Add new number to list
num.append(11)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#Remove one number from the list
num.pop(3) #Removed item in 4 index
print(num)

[1, 2, 3, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#2 Create a tuple of 5 city names
cities =("Soroti", "Mbale", "Jinja", "Kampala", "Masaka")
print(cities)

('Soroti', 'Mbale', 'Jinja', 'Kampala', 'Masaka')

In [ ]:
#Attempting to edit one - Explanation - tuples are immutable
cities[1] = "me"
print(cities)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#3 Create a set of student names.
students = {"Buni","Marco", "Faustin", "Conrad"}
print(students)

{'Buni', 'Marco', 'Faustin', 'Conrad'}

In [ ]:
#Add a duplicate & observe what happens - Re
students2 = {"Buni","Francsi", "Xavier"}
AllStudents = students.union(students2)
print(AllStudents)
#Sets do not contain duplicates

{'Buni', 'Faustin', 'Conrad', 'Francsi', 'Marco', 'Xavier'}

In [ ]:
#4 Create a dictionary for name, age and email
person = {"Name":"Wes", "Age":"85", "Email":"wes@stress.com"}
print(person)

{'Name': 'Wes', 'Age': '85', 'Email': 'wes@stress.com'}

In [ ]:
#Update the email & print all keys & values
person["Email"] = "Wes@hatewatch.com"
print(person.keys())
print(person.values())
print(person)

dict_keys(['Name', 'Age', 'Email'])
dict_values(['Wes', '85', 'Wes@hatewatch.com'])
{'Name': 'Wes', 'Age': '85', 'Email': 'Wes@hatewatch.com'}

Part B - Control Flow

In [ ]:
#1 Write a loop that prints whether each number from 1-20 is odd or even
for i in range(1,21):
    if i%2 ==0:
        print (f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [ ]:
#2 Use a loop to iterate over dictionary from Part A & print keys & values
for x,y in person.items(): #Used the .item() function to open the dictionary
  print(x,y)

Name Wes
Age 85
Email Wes@hatewatch.com

In [ ]:
#3 Program to grade student marks
mark = round(float(input("Please input student mark:"))) #User to input any marks, system to round result to nearest whole integer. Did to avoid printing 100 results
if 0 <= mark <= 100: #Enforce the range of marks being between 0 - 100
  if mark >=80:
    print(f"{mark}% is an A")
  elif mark >= 70:
      print(f"{mark}% is a B")
  elif mark >= 60:
    print(f"{mark}% is a C")
  elif mark >= 50:
    print(f"{mark}% is a D")
  else:
    print(f"{mark}% is an F")
# Had errors from input of numbers above 100 or strings captured. Will handle next time

Please input student mark:20
20% is an F

Part C - Functions & Modular Code

In [ ]:
#1 Define a function calculate_mean() returning the mean
def average(data):
  total = sum(data) #The inbuilt sum function adds up all items in a list
  count = len(data) #The inbuilt len function counts the no. of items in a list
  return [total/count] #This is the mathematical formula to calculate the mean
  #The above 3 lines could ideally be one single line

list = [1, 2, 3, 4, 5]
new = average(list)
print(f"The average of the list is {new}")

The average of the list is [3.0]

In [5]:
#2 Create module with 2 functions greet_user(name), square_number(n)
#utils.py - File saved as a python file
def greet_user(name):
  print("Hello, " + name)
def square_number(n):
  return n ** 2

In [ ]:
#Create a Package called Week1
# __init__.py - Create an empty .py file in the Package
# utils.py - Add the module to the package

In [9]:
#Main Script - Import & use the functions
from week1 import utils as u
g = f"Welcome, {u.greet_user('Kabode')}"
s = f"the suare of the number is {u.square_number(2)}"
print(g, s)

# This will throw an error since we didnt save the package & the modules in it
# Thus, we couldnt import successfully (Assignment done on colab)

ModuleNotFoundError: No module named 'week1'

Part D - Error Handling

In [32]:
#A prog that divides 2 user nos. (I guess next time presented itself)
while True: #Used a loop to continously prompt till a valid no1 is imput
  try:
    no1 = float(input("Please enter first No."))
    break #if input is true, exit loop
  except ValueError: #validate that input is strictly a number
    print("Please strictly enter only numbers")

while True: # loop till valid no2 is input
  try:
    no2 = float(input("Please enter second No."))
    break #if input is true, exit loop
  except ValueError: #validate that input is strictly a number
    print("Please strictly enter only numbers")

#Function to devide
def division(a, b):
  return a/b

try: #Attempt to use the function
  div = division(no1, no2)
except ZeroDivisionError: #If no2 is a zero, capture the ZeroDivisionError
  print("You cannot divide a number by 0") #Custom Message for the error
else: #if all conditions met, proceed & execute function
    print(f"When you divide {no1} by {no2} the answer is {div}")
finally:
    print("Thank you for this stress")

Please enter first No.w
Please strictly enter only numbers
Please enter first No.3
Please enter second No.w
Please strictly enter only numbers
Please enter second No.3
When you divide 3.0 by 3.0 the answer is 1.0
Thank you for this stress

Bonus (Optional)
Create a basic studnet score analyzer
*   Ask for student names & marks
*   Store them in a dictionary
*   Output the highest, lowest & average mark

In [ ]:
#Have questions - Is it a user input?, how many students or open ended?